[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0"
environs = "==10.0.0"
psycopg2-binary = "==2.9.9"
dj-database-url = "==2.1.0"
djangorestframework = "==3.14.0"
django-cors-headers = "==4.3.1"
gunicorn = "==21.2.0"
whitenoise = "==6.6.0"
asgiref = "==3.7.2"
marshmallow = "==3.20.1"
python-dotenv = "==1.0.0"
pytz = "==2023.3.post1"
sqlparse = "==0.4.4"
typing-extensions = "==4.9.0"
tzdata = "==2023.3"
djangorestframework-simplejwt = "==5.3.1"
packaging = "==23.2"
pyjwt = "==2.8.0"
django-rest-passwordreset = "==1.4.0"
openai = "*"
channels = "*"
daphne = "*"
httpx = "==0.27.2"
channels-redis = "*"
twisted = {extras = ["http2", "tls"], version = "*"}
celery = "*"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.11.5"
