body {
  background: #072111;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  width: 100%;
}

.App {
  text-align: center;
  padding-top: 100px;
}

.container {
  padding-top: 120px;
}

.offbutton {
  cursor: pointer;
}

/* Auth forms */

.auth-form {
  width: 40%;
  margin: 3%;
  padding: 6%;
  border: 2px solid #535e50;
}

.auth-form fieldset legend {
  color: #f7f2f2;
}

.eye-icon {
  color: black;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  margin-right: 2%;
  padding-right: .20rem; 
}

.error-message {
  padding: 0.5rem;
  padding-top: 0.8rem;
  text-align: center;
  color: #ee380b;
  font-family: monospace;
  font-size: 1.2em;
}

/* Spinner.css */

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #f0ed3a;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Token info */

.content-list {
    list-style-type: none;
    text-align: left;
    font-size: 18px;
}

.content-list div {
  padding: 1% 0% 1% 3%;
  margin: 1%;
  color: #2cff59;
  background-color: #0d4855;
  opacity: 0.8;
  border: 1px solid #1e383d;
  outline: none;
  text-decoration: none;
  font-family: monospace;
}

.content-list div:hover {
  background-color: #1e383d;
  opacity: 1;
}

/* Grid */

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 10%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%;
  width: 50%;
}

.grid-item {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10%;
  padding: 15px;
  color: #857d7d;
  background-color: transparent;
  border: 1px solid #1e383d;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  position: relative;
}

.image-container {
  width: 55%;
  height: 55%;
  border-radius: 50%;
  background-color: #094d44;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.grid-text {
  font-size: 1em;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.grid-item:hover {
  background-color: #1e383d;
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Media queries - screen width */

/* xl >=1200px */
@media screen and (max-width: 1200px) {
  .auth-form {
    width: 50%;
  }
  .grid {
    width: 90%;
    gap: 5%;
  }
}

/* lg >=992px */
@media screen and (max-width: 992px) {
  .auth-form {
    width: 60%;
  }
  .grid-text {
    font-size: 0.8em;
  }
}

/* md >=768px */
@media screen and (max-width: 768px) {
  .auth-form {
    width: 70%;
  }
  .grid-text {
    font-size: 0.6em;
  }
}

/* sm >=576px */
@media screen and (max-width: 576px) {
  .auth-form {
    width: 80%;
  }
  .grid-text {
    font-size: 1em;
  }
}

/* xs <576px */
@media screen and (max-width: 576px) {
  .auth-form {
    width: 90%;
  }
  .grid {
    grid-template-columns: none;
    width: 70%;
    gap: 1%;
  }
  .content-list div {
    font-size: 0.9em;
  }
}



